* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

a,

a:link {
    color: #0763c7;
}
    
a:visited {
  color: #f826b1;
}

a:hover {
  color: #9db4cd;
}

a:active {
    color: red;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

main {
  width: 80%;
  margin: 0 auto;
}